<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.komalareddy.libraryaudit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NoteEditorActivity"/>
        <activity
            android:name=".MainActivity2"
            android:parentActivityName=".IssueAndReportActivity" />
        <activity
            android:name=".GenerateQRCodeActivity"
            android:parentActivityName=".IssueAndReportActivity" />
        <activity
            android:name=".CheckBooksByEmployee"
            android:parentActivityName=".IssueAndReportActivity" />
        <activity
            android:name=".CheckIssuedEmployee"
            android:parentActivityName=".ScanActivity" />
        <activity
            android:name=".CheckIssuedBooks"
            android:parentActivityName=".IssueAndReportActivity" />
        <activity
            android:name=".ResetActivity"
            android:parentActivityName=".IssueAndReportActivity" />
        <activity
            android:name=".ReturnActivity"
            android:parentActivityName=".IssueAndReturnActivity" />
        <activity
            android:name=".IssueAndReturnActivity"
            android:parentActivityName=".IssueAndReportActivity" />
        <activity
            android:name=".ContinuousScanActivity"
            android:parentActivityName=".ScanActivity" />
        <activity android:name=".ScanActivity" />
        <activity
            android:name=".IssueActivity"
            android:parentActivityName=".IssueAndReturnActivity" />
        <activity android:name=".IssueAndReportActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".DepartmentActivity" />
        <activity android:name=".DepartmentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>